.heading{
    color: red;
}

.imgStyle{
    width: 200px;
}

.userCard{
    margin : 10px;
    width :  200px;
    border : 1px solid #ddd;
    box-shadow : 1px 1px 3px 1px #ddd;
}

.textWrap{
    padding: 10px;
}

.container{
    display: flex;
    flex-wrap: wrap;
}